.wrap .container {
    padding-left: 0px;
    padding-right: 0px;
}

.body-content .elem-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.words>p {
    color: #9E9E9E;
}
/*******************************轮播********************************************/
.site-index .carousel-control{
    width: 6%;
}

.site-index .carousel img{
    min-width: 100%;
    height: 100%;
}

.site-index .carousel-control.right{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.site-index .carousel-control.left{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

/*******************************标签********************************************/
.tablist {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: left;
}

.tablist ul {
    margin-bottom: 0;
    padding-left: 0;
}

.tablist ul li {
    width: 145px;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    border-right: 1px #cbcbcb solid;
}

.tablist ul li.none {
    border-right: none;
}

.tablist ul li a {
    height: 65px;
    display: block;
    color: #666666;
    text-decoration: none;
}

.tablist ul li a>i {
    width: 50px;
    height: 54px;
    float: left;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.tablist ul li a>em {
    font-size: 18px;
    font-style: normal;
}

.tablist ul li.active>a,
.tablist ul li>a:hover {
    color: #1b80d5;
    border-bottom: 2px #1b80d5 solid;
}

.tabcontent {
    width: 100%;
    font-size: 0px;
}

.tabcontent .tabpane {
    margin: 15px 0;
    display: none;
    opacity: 0;
}

.tabcontent .tabpane.show {
    display: block;
    opacity: 1;
}

.tabcontent #study .resource {
    width: 390px;
}

.tabcontent .resource {
    width: 385px;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 15px;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.tabcontent .sync-resource {
    width: 1201px;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 15px;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.tabcontent .resource.none {
    margin-right: 0px;
}
/*******************************资源********************************************/
.system {
    width: 100%;
}

.tabcontent .sync-resource .elem-hover {
    width: 1201px;
    height: 200px;
    line-height: 200px;
}

.system .elem-hover {
    width: 390px;
    height: 200px;
    line-height: 200px;
}

.system .navlist {
    width: 100%;
}

.system .navlist ul {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: -15px;
    text-align: center;
}

.system .navlist li{
    display: inline-block; 
    overflow: hidden; 
    margin: 0 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #795548;
    border-radius: 50%; 
    z-index: 1111; 
    cursor: pointer;
}

.system .navlist li>a {
    width: 10px; 
    height: 10px; 
    display: inline-block;
}

.system .navlist li.active {
    background-color: #795548;
}

.system .diat {
    width: 290px;
    margin-right: 13px;
}

.system .diat .elem-hover{
    width: 290px;
    height: 200px;
    line-height: 200px;
}

.system .sync {
    background-image: url("/filedata/site/image/icon_1_1.png");
}

.system .study {
    background-image: url("/filedata/site/image/icon_2_1.png");
}

.system .diathetic {
    background-image: url("/filedata/site/image/icon_3_1.png");
}

.system ul li.active>a .sync,
.system ul li>a:hover .sync{
    background-image: url("/filedata/site/image/icon_1_2.png");
}

.system ul li.active>a .study,
.system ul li>a:hover .study{
    background-image: url("/filedata/site/image/icon_2_2.png");
}

.system ul li.active>a .diathetic,
.system ul li>a:hover .diathetic{
    background-image: url("/filedata/site/image/icon_3_2.png");
}
/*******************************最新********************************************/
.newest {
    width: 100%;
    font-size: 0px;
    padding-bottom: 10px;
}

.newest .nb-title {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 80px;
    /*border-bottom: 2px #cbcbcb solid;*/
}

.newest .nb-title .title {
    font-size: 18px;
    color: #1b80d5;
}

.newest .nb-title .title>i {
    width: 41px;
    height: 80px;
    float: left;
    display: block;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.newest .nb-title .more>a {
    font-size: 16px;
    color: #949494;
}

.newest .nb-title .more>a:hover {
    color: #3aa9db;
    text-decoration: none;
}

.newest .nb-content {
    width: 100%;
    height: 540px;
    border-left: 1px #cbcbcb solid;
    display: none;
}

.newest .expect{
    height: 252px;
    background-image: url("/filedata/site/image/expect1.jpg");
    background-repeat: no-repeat;
}

.newest .expect2{
    height: 252px;
    background-image: url("/filedata/site/image/expect2.jpg");
    background-repeat: no-repeat;
    background-position: 65% 0;
    border-left: 1px solid #9E9E9E;
}

.newest .nb-content .imgInfo {
    width: 230px;
    height: 127px;
    float: left;
    margin: 5px 0px 40px;
    display: inline-block;
    background: #3aa9db;
}

.newest .nb-content .words {
    width: 259px;
    height: 127px;
    float: left;
    margin: 5px 0 40px 30px;
    font-size: 14px;
    color: #666666;
    text-align: left;
    display: inline-block;
}

.newest .live-broadcast {
    width: 650px;
    display: inline-block;
}

.newest .live-broadcast 
.nb-title>.title {
    width: 565px;
    display: inline-block;
}

.newest .live-broadcast 
.nb-title .title>i {
    background-image: url("/filedata/site/image/icon_4_1.png"); 
}

.newest .live-broadcast
.nb-content ul {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
}

.newest .live-broadcast
.nb-content>ul li{
    width: 100%;
    display: block;
    float: left;
}

.newest .live-broadcast 
.nb-content ul li .time {
    width: 120px;
    height: 175px;
    float: left;
    display: inline-block;
    font-size: 14px;
    text-align: left;
}

.newest .live-broadcast 
.nb-content ul li .time i {
    width: 12px;
    height: 11px;
    display: block;
    float: left;
    margin-top: -5px;
    margin-left: -6px;
    background-image: url("/filedata/site/image/circle_1_1.png");
    background-position: center;
    background-repeat: no-repeat;
}

.newest .live-broadcast 
.nb-content ul li.active>.time i {
    background-image: url("/filedata/site/image/circle_1_2.png");
}

.newest .live-broadcast 
.nb-content ul li .time hr {
    width: 20px;
    float: left;
    margin-top: 0px;
    margin-right: 5px;
    border-top: 1px #cbcbcb solid;
}

.newest .live-broadcast 
.nb-content ul li .time em {
    float: left;
    margin-top: -10px;
    font-style: normal;
}

.newest .live-broadcast 
.nb-content ul li .time a {
    color: #3aa9db;
    padding: 3px 12px;
    display: inline-block;
    text-align: center;
    border: 1px #3aa9db solid;
}

.newest .live-broadcast 
.nb-content ul li.active>.time a {
    color: #cbcbcb;
    border: 1px #cbcbcb solid;
}

.newest .live-broadcast 
.nb-content ul li .words span {
    font-size: 16px;
    color: #3aa9db;
}

.newest .recorded-broadcast {
    width: 550px;
    display: inline-block;
}

.newest .recorded-broadcast 
.nb-title>.title {
    width: 460px;
    display: inline-block;
}

.newest .recorded-broadcast 
.nb-title .title>i {
    background-image: url("/filedata/site/image/icon_5_1.png"); 
}

.newest .recorded-broadcast
.nb-content .imgInfo{
    margin-right: 30px;
    margin-left: 25px;
    position: relative;
}

.newest .recorded-broadcast
.nb-content .elem-hover {
    width: 230px;
    height: 127px;
    line-height: 63.5px;
}

.newest .recorded-broadcast
.nb-content .elem-hover a {
    width: 91px;
    height: 31px;
    color: #ffffff;
    display: inline-block;
    background-image: url("/filedata/site/image/button_1_1.png");
    background-position: center;
    background-repeat: no-repeat;
}

.newest .recorded-broadcast
.nb-content .words{
    width: 252px;
    margin-left: 0;
}

.newest .recorded-broadcast
.nb-content .words span{
    padding: 2px 12px;
    margin: 5px 5px 10px 0;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background: #f39800;
}

.newest .recorded-broadcast
.nb-content .words h4 {
    margin: 5px 5px 10px 0;
    display: inline-block;
}
/*******************************排行********************************************/
.rankboard {
    width: 100%;
}

.rankboard  .total{
    background-image: url("/filedata/site/image/icon_6_1.png");
}

.tablist ul li.active>a .total,
.tablist ul li>a:hover .total{
    background-image: url("/filedata/site/image/icon_6_2.png");
}

.rankboard  .week{
    background-image: url("/filedata/site/image/icon_6_3.png");
}

.tablist ul li.active>a .week,
.tablist ul li>a:hover .week{
    background-image: url("/filedata/site/image/icon_6_4.png");
}

.rankboard .resource {
    height: 152px;
}

.rankboard .resource .imgInfo{
    width: 208px;
    height: 115px;
    float: left;
    position: relative;
    display: inline-block;
    background: #3aa9db;
}
.rankboard .resource .imgInfo .goods-icon{
    width: 38px;
    height: 50px;
    position: absolute;
    top: -15px;
    left: 187px;
    z-index: 1022;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.rankboard .resource .words{
    width: 176px;
    height: 115px;
    float: left;
    font-size: 14px;
    color: #666666;
    padding: 0 12px 0 18px;
    display: inline-block;
}

.rankboard .resource .words>p{
    margin-bottom: 3px;
    text-indent: -3em;
    margin-left: 3em;
}

.rankboard .resource .avatar{
    width: 100%;
    float: left;
    display: inline-block;
}

.rankboard .resource 
.avatar .avatar-img-circle{
    width: 245px;
    float: left;
    display: inline-block;
}

.rankboard .resource 
.avatar .img-circle {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #427fc8;
    background: #ccc;
}

.rankboard .resource 
.avatar .avatar-words {
    width: 139px;
    height: 30px;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 43px;
    display: inline-block;
}

.rankboard .resource .words .cour-name{
    font-size:16px;
    font-weight: bold;
}

.rankboard .resource .words .font-style{
    width: 19px;
    font-size: 18px;
    color: #fff;
    margin-right: -5px;
    text-indent: 4px;
    letter-spacing: 5px;
    display: inline-block;
    background-image: url("/filedata/site/image/icon_9.png");
    background-repeat: no-repeat;
}

.rankboard .resource 
.avatar .avatar-words span {
    color: #3aa9db;
}
/**覆盖个人中心-课程图片-.course-teacher样式**/
.resource .goods .goods-pic .course-teacher {
    width: 88px;
    height: 100px;
}
/**覆盖个人中心-课程图片-.course-title样式**/
.resource .goods .goods-pic .course-title{
    top: 12px;
}
