.login-body {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 82px;
}

.login-content {
    width: 100%;
    position: relative;
    top: 15%;
}

.login-box {
    width: 360px;
    padding: 10px;
    float: right;
    background-color: rgba(253, 253, 253, 0.5);
    border-radius: 10px;
}

.login-box .signin {
    width: 100%;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}

.login-box .signin h4 {
    text-align: center;
}

.login-box .avatars {
    width: 100%;
    height: 116px;
    margin-bottom: 10px;
    text-align: center;
}

.login-box .signin .forgot {
    text-align: right;
    display: block;
}