/***************************************************************
 *
 * 公共
 *
 **************************************************************/


/***************************************************************
 *
 * 课程分类
 *
 **************************************************************/
/***************************************************************
 *
 * 课程数据
 *
 **************************************************************/
/***************************************************************
 *
 * 课程模型
 *
 **************************************************************/
/***************************************************************
 *
 * 课程属性
 *
 **************************************************************/
/***************************************************************
 * 列表页不换行，超出显示...
.course-attribute-index .attribute-value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
 **************************************************************/
/***************************************************************
 *
 * 课程教师
 *
 **************************************************************/
/***************************************************************
 *
 * 课程模板
 *
 **************************************************************/
/***************************************************************
 *
 * 课程预览
 *
 **************************************************************/
