.user-default {
    width: 936px;
    float: left;
    display: inline-block;
}

.user-default .category {
    width: 100%;
    height: 36px;
    padding: 0 15px;
    font-size: 16px;
    color: #666666;
    line-height: 36px;
    background-color: #f0f0f0;
}

.user-default .category .cat-name {
    float: left;
    display: inline-block;
}

.user-default .category .subject-nav {
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: inline-block;
}

.user-default .category 
.subject-nav>li {
    float: left;
    line-height: 34px;
}

.user-default .category 
.subject-nav>li>a {
    color: #666666;
    text-decoration: none;
    padding: 0 15px;
    display: inline-block
}

.user-default .category .subject-nav>.active,
.user-default .category .subject-nav>li:hover {
    border-bottom: 2px #3aa9db solid;
}

.user-default .category .subject-nav>.active>a,
.user-default .category .subject-nav>li>a:hover {
    color: #3ba9db;
}

.user-default .prompt {
    padding: 20px 0;
    font-size: 14px;
    color: #b4b0b0;
}

.user-default .prompt>span>em {
    margin: 0 5px;
    font-size: 20px;
    font-style: normal;
}

.user-default .goods {
    width: 100%;
    font-size: 0px;
}

.user-default .goods .goods-list {
    width: 230px;
    margin-right: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    color:  #666666;
    position: relative;
    display: inline-block;
}

.user-default .goods .goods-list.none {
    margin-right: 0;
}

.user-default .goods .goods-pic {
    width: 230px;
    position: relative;
    display: inline-block;
    background-color: #51706b;
}

.user-default .goods .goods-name {
    width: 100%;
    height: 20px;
    position: relative;
    line-height: 20px;
    display: inline-block;
}

.user-default .goods .goods-see {
    width: 60px;
    float: right;
    font-size: 12px;
    text-align: right;
}

.user-default .goods .goods-name,
.user-default .goods .goods-see {
    color: #666666;
}

.user-default .goods .icon {
    width: 45px;
    height: 45px;
    margin-right: 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1030;
    background-repeat: no-repeat;
    background-position: center;
}

.user-default .goods .icon-7 {
    background-image: url("/filedata/user/icons/icon_7.png");
}

.user-default .goods .icon-8 {
    background-image: url("/filedata/user/icons/icon_8.png");
}
/*********************************课程笔记记录**********************************/
.user-default .goods .note-tooltip {
    width: 100%;
    position: absolute;
    display: block;
    z-index: 1070;
}

.user-default .goods .top {
    bottom: 100%;
}

.user-default .goods .bottom {
    top: 100%;
}

.user-default .goods .top .note-arrow {
    bottom: 0;
    margin-bottom: -8px;
    border-width: 8px 8px 0px;
    border-top-color: #ffffff;
}

.user-default .goods .bottom .note-arrow {
    top: 0;
    margin-top: -8px;
    border-width: 0px 8px 8px;
    border-bottom-color: #ffffff;
}

.user-default .goods .note-arrow {
    position: absolute;
    left: 50%;
    border-style: solid;
    border-color: transparent;
}

.user-default .goods .top .note-inner {
    border-bottom: 0;
    box-shadow:2px -2px 2px #c1bfbf;
}

.user-default .goods .bottom .note-inner {
    border-top: 0;
    box-shadow:2px 2px 2px #c1bfbf;
}

.user-default .goods .note-inner {
    min-height: 260px;
    padding: 10px;
    color: #c0c0c0;
    text-align: left;
    background-color: #ffffff;
    border: 2px #d9d3d5 solid;
    border-radius: 4px;
}

.user-default .goods .note-title {
    font-size: 14px;
    color: #0bb2e3;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: 2px #d9d3d5 solid;
}

.user-default .goods .note-content {
    padding: 10px 0;
}

.user-default .goods .note-content>p {
    margin-bottom: 5px; 
}

.user-default .goods .note-content .special {
    color: #666666;
}

.user-default .goods .note-content>ol {
    padding-left: 15px;
    margin-bottom: 0px;
}

.user-default .goods .icon-6 {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.user-default .goods .icon-6_1 {
    background-image: url("/filedata/user/icons/icon_6-1.png");
}

.user-default .goods .icon-6_2 {
    background-image: url("/filedata/user/icons/icon_6-2.png");
}

.user-default .page {
    width: 100%;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

.user-default .page-left {
    float: left;
}

.user-default .page-right {
    float: right;
}

/**************************同步课堂*********************************************/
.sync .goods {
    min-height: 520px;
    /*overflow: auto;*/
}

/*.sync .goods .goods-list {
    width: 228px;
}
.sync .goods::-webkit-scrollbar{
    width: 2px;
}
.sync .goods::-webkit-scrollbar-track-piece{
    -webkit-border-radius: 6px;
}
.sync .goods::-webkit-scrollbar-thumb:vertical{
    height: 3px;
    background-color: rgba(0, 0, 0, 0.45);
    -webkit-border-radius: 6px;
}
.user-default .goods::-webkit-scrollbar-thumb:horizontal{
    width: 2px;
    -webkit-border-radius: 6px;
}*/
/**************************学科培优/素质提升*************************************/
.college .category {
    margin-bottom: 20px;
} 

.college .prompt {
    padding: 0;
} 

.college .goods .goods-list {
    margin-bottom: 0;
} 

.college .goods .goods-name {
    height: 30px;
    top: -30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
} 

.college .goods span>em {
    margin: 0 5px;
    font-size: 16px;
    color: #ff3746;
    font-style: normal;
}
/*************************************学习轨迹**********************************/
.study .prompt {
    padding: 0;
}
/*************************************我的收藏**********************************/
.favorites .category {
    margin-bottom: 20px;
} 

.favorites .category 
.subject-nav>li,
.favorites .category 
.subject-nav>li:hover {
    border-bottom: none;
    line-height: 36px;
}

.favorites .category 
.subject-nav>li>a,
.favorites .category 
.subject-nav>li>a:hover {
    color: #ffffff;
    padding: 0 10px;
}

.favorites .prompt {
    padding: 0;
}

.favorites .goods .goods-list {
    overflow: hidden;
} 

.favorites .goods .goods-pic {
    cursor: pointer;
    overflow: hidden;
} 

.favorites .goods .goods-delete {
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    text-align: right;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1050;
}

.favorites .goods .goods-delete>a {
    padding: 0 10px;
    color: #666666;
    display: inline-block;
}

/*************************************课程图片布局**********************************/
.goods .goods-pic .course-teacher{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 115px;
    z-index: 1020;
}

.goods .goods-pic .tm-ver-logo{
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1020;
}

.goods .goods-pic .course-title{
    position: absolute;
    top: 10px;
    left: 40px;
    color: #ececec;
    font-size: 12px;
    z-index: 1030;
}

.goods .goods-pic .course-lable{
    position: absolute;
    top: 50px;
    left: 15px;
    text-align: center;
    width: 51%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    z-index: 1030;
}
