/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-9-22, 16:50:11
    Author     : Administrator
*/

/*.info-content {
    width: 100%;
    display: inline-block;
}
.info-content .avatars{    
    width: 180px;
    margin: 65px auto 0;
    background-repeat: no-repeat;
}*/
/*头像*/
.info-content {
    padding: 60px 0 20px;
    height: 100%;
}
.info-content .user-header{
    background: none;
    height: 100%;
}
.info-content .user-header .avatars {
    width: 100%; 
    margin-top: 0px; 
    float: none;
    display: block;
}
.info-content .user-header .avatars .avatars-circle {
    float: none; 
    margin: 0 auto;
    display: block; 
}
.info-content .container{
    height: 100%;
}
/*基本信息*/
.info-content .base-info{
    margin-top: 30px;
    height: 120px;
}
.info-content .base-infocontent{
    margin: 0 auto;
    width: 700px;
    height: 100%;
    border-bottom: solid 1px #907777;
}
.info-content .info-title,.info-content .info-name,.info-content .info-username{
    display: inline-block;
    width: 80px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 2px 10px 2px 10px;
}
.info-content .info-name{
    margin-left: 115px;
    color: #907777;
}
.zhanghao-kongde,.zhanghao,.zhanghao-name{
    display: inline-block;
    width: 80px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin: 2px 10px 2px 10px;
}
.info-content .zhanghao{
    margin-left: 115px;
    color: #907777;
}

/*所属年级*/
.info-content .grage{
    margin-top: 30px;
    height: 100%;
}
.info-content .grage-content{
    margin: 0 auto;
    width: 700px;
}
.form-grage,.seclct-grage{
    display: inline-block;
    width: 180px;
    height: 60px;
    font-size: 16px;
    margin: 2px 25px 2px 18px;
}
.seclct-grage{
    width: 280px;
}
.grage-dropdownlist{
    width: 280px;
    height: 40px;
    border-radius: 6px;
}
.info-content .grage-button{
    width: 700px;
    margin: 90px auto 60px;
    text-align: center;
}
.info-content .btn-primary {
    margin: 0 60px 0 5px;
}
.info-content .btn {
    width: 120px;
    height: 35px;
}
