.filter-column {
    width: 100%;
    display: inline-block;
    background-color: #f0f0f0; 
}

.filter-column .fc-selector {
    width: 150px;
    margin-right: -10px;
    float: left;
    text-align: center;
    line-height: 45px;
}

.filter-column .fc-selector a{
    width: 100px;
    height: 43px;
    display: block;
    color: #666;
}

.filter-column .fc-selector a:hover {
    color: #3aa9db;
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom-color: #3aa9db;
}

.filter-column .fc-selector .active {
    color: #3aa9db;
    border-bottom: 2px solid;
    border-bottom-color: #3aa9db;
}