._view .body-content {
    width: 100%;
    height: 100%;
    margin-top: 34px;
}

._view .crumbs-bar {
    width: 100%;
    padding: 0px 20px;
    background-color: #f0f0f0;
}

._view .crumbs-bar .cb-nav {
    height: 45px;
}

._view .crumbs-bar .cbn-icon {
    float: left;
    padding: 7px 0px;
    margin-right: 18px;
}

._view .crumbs-bar 
.cbn-icon .icon {
    width: 41px;
    height: 31px;
    display: block;
}

._view .crumbs-bar .cbn-item {
    float: left;
    margin-right: 5px;
    font-size: 14px;
    color: #8a8a8a;
    line-height: 45px;
}

._view .crumbs-bar
.cbn-item i {
    margin-left: 2.5px;
    font-style: normal;
}

.video-player {
    width: 100%;
    margin-top: 34px;
}

.vp-background {
    width: 1015px;
    margin: 0px auto;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}

.box-shadow-1 {
    box-shadow: 2px 2px 20px #e3e3e3;
}

.box-shadow-2 {
    padding: 8px;
    box-shadow: -2px -2px 20px #e3e3e3;
}
 
.vp-play {
    width: 100%;
    height: 590px;
}