.filter {
    width: 100%;
    margin-bottom: 40px;
    display: inline-block;
    background-color: #f0f0f0; 
}

.filter .sort-order {
    width: 150px;
    margin-right: -10px;
    float: left;
    text-align: center;
    line-height: 45px;
}

.filter .sort-order a{
    width: 100px;
    height: 43px;
    display: block;
    color: #666;
    position: relative;
}

.filter .sort-order a:hover {
    color: #3aa9db;
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom-color: #3aa9db;
}

.filter .sort-order .active {
    color: #3aa9db;
    border-bottom: 2px solid;
    border-bottom-color: #3aa9db;
}

.filter .sort-order .icon {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 10px;
    left:5px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.filter .sort-order .icon-4 {
    background-image: url("/filedata/study/icon/icon_4.png");
}

.filter .filter-choice {
    float: right;
    position: relative;
    line-height: 43px;
    padding-right: 10px;
    padding-left: 10px;
}

.filter .filter-choice>input[type="checkbox"] {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 13px;
    left: -13px;
    margin-top: 0;
}

.filter .filter-choice>label {
    margin-right: 20px;
    margin-bottom: 0px;
    font-weight: normal;
}