/*********************************banner部分************************************/
.study-index .banner {
    width: 100%;
    height: 618px;
    margin-bottom: 65px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 0;
}
/*********************************搜索部分**************************************/
.study-index .search {
    width: 100%;
    margin-bottom: 65px;
    display: inline-block;
}

.study-index .search .search-inner {
    width: 690px;
    margin: 0 auto;
    position: relative;
    border: 2px #cdcdcd solid;
}

.study-index .search .search-input {
    width: 630px;
    display: inline-block;
}

.study-index .search .form-control {
    height: 46px;
    font-size: 16px;
    border-radius: 0px;
}

.study-index .search .search-button {
    width: 59px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #3aa9db;
}

.study-index .search .search-button:hover {
    cursor: pointer;
}

.study-index .search .icon {
    width: 33px;
    height: 32px;
    margin: 10px 14px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.study-index .search .icon-1 {
    background-image: url("/filedata/study/icon/icon_1.png");
}
/*********************************内容部分**************************************/
.study-index .content {
    width: 100%;
    display: inline-block;
}
.study-index .content .container {
    padding: 0 0 20px;
}
/*********************************内容部分（面包屑）*****************************/
.study-index .content .crumb {
    width: 100%;
    display: inline-block;
}

.study-index .content .crumb-nav {
    list-style: none;
    padding: 0 50px;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
}

.study-index .content .crumb ul li {
    height: 22px;
    float: left;
    display: block;
}

.study-index .content .crumb ul li>.arrow {
    float: left;
    margin: 0px 5px;
}

.study-index .content .crumb ul li>a {
    color: #666666;
    padding: 0px 4px;
    float: left;
    display: block;
    border: 1px solid #ddd;
    line-height: 20px;
    text-decoration: none;
}

.study-index .content .crumb ul li a > em, 
.study-index .content .crumb ul li a > i {
    margin-left: 5px;
    font-style: normal;
}
/*********************************内容部分（属性）*******************************/
.study-index .content .attribute {
    width: 100%;
    margin-bottom: 40px;
    display: inline-block;
}

.study-index .content .attribute .attr-nav {
    width: 100%;
    list-style: none;
    padding: 0 50px;
    margin-bottom: 0;
    font-size: 14px;
    color: #666666;
    display: inline-block;
}

.study-index .content .attribute .attr-nav>li {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.study-index .content .attribute .attr-key {
    width: 10%;
    float: left;
    display: inline-block;
    text-align: right;
}

.study-index .content .attribute .attr-value {
    width: 89%;
    display: inline-block;
    text-align: left;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 0;
}

.study-index .content .attribute .attr-value>li {
    float: left;
    margin: 0 10px;
    display: inline-block;
}

.study-index .content .attribute .attr-value>li a {
    color: #333333
}
/*********************************内容部分（课程课件）***************************/
.study-index .content .goods {
    width: 100%;
    margin-bottom: 40px;
    display: inline-block;
    font-size: 0;
}

.study-index .content .goods .goods-list {
    margin-right: 12px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.study-index .content .goods .goods-list.none {
    margin-right: 0px;
}

.study-index .content .goods .goods-pic {
    width: 230px;
    min-height: 127px;
    background-color: #3aa9db;
}

.study-index .content  .goods .icon {
    width: 45px;
    height: 45px;
    margin-right: 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-study-index: 1030;
}

.study-index .content .goods .icon-2 {
    background-image: url("/filedata/user/icons/icon_2.png");
}

.study-index .content .goods .icon-2 {
    background-image: url("/filedata/user/icons/icon_3.png");
}

.study-index .content .goods .goods-name {
    width: 170px;
    float: left;
    font-size: 14px;
}

.study-index .content .goods .goods-see {
    width: 60px;
    float: right;
    font-size: 12px;
    text-align: right;
}

.study-index .content .goods .goods-name,
.study-index .content .goods .goods-see {
    color: #666666;
    line-height: 25px;
}

/*************************************课程图片布局*******************************/
.study-index .content .goods .goods-pic .course-teacher{
    position: absolute;
    right: 0px;
    bottom: 25px;
    width: 100px;
    height: 115px;
    z-study-index: 1020;
}

.study-index .content .goods .goods-pic .tm-ver-logo{
    position: absolute;
    left: 5px;
    top: 5px;
    z-study-index: 1020;
}

.study-index .content .goods .goods-pic .course-title{
    position: absolute;
    top: 10px;
    left: 40px;
    color: #ececec;
    font-size: 12px;
    z-study-index: 1030;
}

.study-index .content .goods .goods-pic .course-lable{
    position: absolute;
    top: 50px;
    left: 15px;
    text-align: center;
    width: 51%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    z-study-index: 1030;
}

/**********************************观课中心*************************************/
.choice .choice-title {
    color: #0a223a
}