.page {
    width: 100%;
    display: inline-table;
}

.p-wrap {
    width: 730px;
    margin: 0px auto 10px;
    display: flex;
}

.page .p-wrap .p-num {
    float: left;
}

.page .p-num .pn-prev.disabled,
.page .p-num .pn-next.disabled {
    background: #fff;
    cursor: default;
}

.page .p-num a {
    color: #666;
    padding: 0 14px;
    border: 1px solid #ddd;
}

.page .p-num .pagination > .active > a {
    color: #fff;
    border-color: #3aa9db;
    background-color: #3aa9db;
}

.page .p-skip {
    float: right;
    margin-left: 5px;
    line-height: 34px;
}

.page .p-skip .input-txt {
    width: 50px;
    height: 34px;
    margin: 0 3px;
    text-align: center;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}
/*********************************相同样式部分**********************************/
.page .p-wrap .p-num, 
.page .p-wrap .p-skip {
    font-size: 14px;
}

.page .p-num a, 
.page .p-skip b {
    height: 34px;
    margin: 0px 1.5px;
    line-height: 34px;
}
