.page {
    width: 100%;
    margin-bottom: 30px;
    display: inline-table;
}

.page-wrap {
    width: 730px;
    margin: 0px auto;
    display: flex;
}

.page .page-wrap .page-num {
    float: left;
}

.page .page-num .page-prev.disabled,
.page .page-num .page-next.disabled {
    background: #fff;
    cursor: default;
}

.page .page-num a {
    color: #666;
    padding: 0 14px;
    border: 1px solid #ddd;
}

.page .page-num .pagination > .active > a {
    color: #fff;
    border-color: #3aa9db;
    background-color: #3aa9db;
}

.page .page-skip {
    float: right;
    margin-left: 5px;
    line-height: 34px;
}

.page .page-skip .input-txt {
    width: 50px;
    height: 34px;
    margin: 0 3px;
    text-align: center;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}
/*********************************相同样式部分**********************************/
.page .page-wrap .page-num, 
.page .page-wrap .page-skip {
    font-size: 14px;
}

.page .page-num a, 
.page .page-skip b {
    height: 34px;
    margin: 0px 1.5px;
    line-height: 34px;
}
