/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-9-25, 16:30:42
    Author     : Administrator
*/

a:hover, a:focus {
    color: #23527c;
    text-decoration: none; 
}
/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}
/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* 下拉菜单的链接 */
.dropdown-content a {
    color: #8a8a8a;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
}
/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color: #ccc
}
/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover{
    color: rgb(26, 128, 213);
}

.dropdown .select{
    width: 30px;
    height: 20px;
}

.nav-timer{
    float: right;
    color: #8a8a8a;
    font-size: 14px;
}

.timer-content{
    display: inline-block;
    width: 60px;
}

.nav-timer #timer{
    margin-top: 10px;
    width: 58px;
    border: none;
    background-color: #f0f0f0;
}

.video-player .bottom-info{
    margin: 20px 0 20px 0px;
}

.bottom-info-content{
    width: 1014px;
    margin: 0 auto;
}

.bottom-info .study{
    display: inline-block;
    vertical-align: middle;
}

.bottom-info .study-people{
    border-radius: 50%;
    border: 1px solid #427fc8;
    width: 28px;
    height: 28px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color: #427fc8;
}

.bottom-info .share{
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
}

.share-content{
    display: inline-block;
    vertical-align: middle;
}

.bottom-info .collection{
    margin-left: 25px;
    display: inline-block;
}

.bottom-info #favorite{
    display: inline-block;
}

.bottom-info #thumbs-up{
    display: inline-block;
    vertical-align: text-bottom;
}

.bottom-info .fa{
    font-size: 18px;
    vertical-align: middle;
}

.bottom-info .font{
    font-size: 14px;
}

.bottom-info .glyphicon{
    font-size: 18px;
    color: #338fd0;
    margin-top: -4px;
    vertical-align: middle;
}

.bottom-info .thumbs-up{
    margin-left: 25px;
    display: inline-block;
}

.bottom-info .play-volume{
    margin-left: 25px;
    display: inline-block;
}

.font-color{
    color: #000;
}

.bottom-info .share-course{
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
}
/*更改分享功能图标的样式*/
.bottom-info .bdshare-button-style0-16 .bds_weixin{
    background-image: url("/filedata/study/icon/weixin.png");
    background-repeat: no-repeat;
    background-position: 0;
}

.bottom-info .bdshare-button-style0-16 .bds_weixin:hover{
    background-image: url("/filedata/study/icon/weixin2.png");
}

.bottom-info .bdshare-button-style0-16 .bds_qzone{
    background-image: url("/filedata/study/icon/qzone.png");
    background-repeat: no-repeat;
    background-position: 0;
}

.bottom-info .bdshare-button-style0-16 .bds_qzone:hover{
    background-image: url("/filedata/study/icon/qzone2.png");
}

.bottom-info .bdshare-button-style0-16 .bds_tsina{
    background-image: url("/filedata/study/icon/tsina.png");
    background-repeat: no-repeat;
    background-position: 0;
}

.bottom-info .bdshare-button-style0-16 .bds_tsina:hover{
    background-image: url("/filedata/study/icon/tsina2.png");
}

.bottom-info .bdshare-button-style0-16 .bds_sqq{
    background-image: url("/filedata/study/icon/sqq.png");
    background-repeat: no-repeat;
    background-position: 0;
}

.bottom-info .bdshare-button-style0-16 .bds_sqq:hover{
    background-image: url("/filedata/study/icon/sqq2.png");
}

.bottom-info .bdshare-button-style0-16 .bds_more{
    display: none;
    background-image: url("/filedata/study/icon/more.png");
    background-repeat: no-repeat;
    background-position: 0;
}