.navbar-inverse {
    background-color: transparent;
}

.navbar {
    padding: 5px 0;
    margin:  auto;
    border: none; 

}

.navbar-nav {
    margin: -5px 0;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav > li > a {
    line-height: 30px;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(28, 102, 142, 0.819607843137255);
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0a223a;
}

.navbar-nav .dropdown-menu {
    width: 300px;
    border-color: #0a223a;
    background-color: #0a223a;
}

.navbar-nav .dropdown-menu>.dropdown-header,
.navbar-nav .dropdown-menu li>.logout {
    color: #ffffff;
}

.navbar-nav .dropdown-menu>li>.logout:hover,
.navbar-nav .dropdown-menu>li>.logout:focus {
    border-color: transparent;
    background-color: transparent;
}

.navbar-nav .dropdown-menu>.dropdown-header .avatars-circle {
    width: 110px;
    height: 110px;
    padding: 5px;
    float: left;
    display: inline-block;
    background-color: #86c9e7;
    margin-right: 20px;
}

.navbar-nav .dropdown-menu .user-name {
    font-size: 18px;
    margin-top: 35px;
}

.navbar-nav .dropdown-menu .study-course {
    margin-bottom: 40px;
    font-size: 14px;
    color: #9d9d9d;
}

.navbar-nav .dropdown-menu .study-course em {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
    font-style: normal;
    color: #ffffff;
}

.navbar-nav .dropdown-menu .user-school {
    margin-left: 20px;
    font-size: 14px;
    color: #9d9d9d;
}

.navbar-nav .dropdown-menu .user-school span,
.navbar-nav .dropdown-menu .user-identity span {
    margin-left: 35px;
}

.navbar-nav .dropdown-menu .user-identity {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #9d9d9d;
}

.navbar-nav .dropdown-menu .last-study, .navbar-nav .dropdown-menu i{
    display: inline-block;
}

.navbar-nav .dropdown-menu .last-study {
    width: 265px;
    margin: 0 0 10px 20px;
    padding-bottom: 12px;
    display: inline-block;
    font-size: 14px;
    color: #9d9d9d;
    border-bottom: 1px solid #fff;
}

.navbar-nav .dropdown-menu .last-study a{
    display: inline;
    padding: 0;
    color: #fff;
}

.navbar-nav .dropdown-menu .last-study a>span{
    margin-right: -14px;
}

.navbar-nav .dropdown-menu .last-study a>span>i{
    color: #9a9b9b;
}

.navbar-nav .dropdown-menu .last-study a:hover{
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.navbar-nav .dropdown-menu .keep-look{
    float: right;
}

